.header {
    background-color: #474fb9;
    padding: 20px;
    text-align: start;
}

.title label {
    font-family: Nunito;
    font-style: normal;
    font-weight: 10px;
    font-size: 28px;
    line-height: 36px;
    color: white;
}

.user-details-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.user-details-container img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 20px;
}

.user-details-container p {
    font-size: 16px;
    margin-bottom: 10px;
}


/* .back-button {
  padding: 10px 20px;
  background-color: #474fb9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #474fb9;
} */

.back-button {
    color: #474fb9;
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}


/* .back-button:hover {
  background-color: #474fb9;
  color: white;
} */

mat-icon {
    margin-right: 8px;
}

.loading-container {
    color: #474fb9!important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 1000;
}

.mat-spinner-color {
    color: #474fb9;
}

.mat-spinner-overlay {
    background-color: #474fb9;
}

.user-card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.user-card:hover {
    transform: scale(1.02);
}

.user-avatar {
    width: 120px;
    overflow: hidden;
    border-radius: 8px 0 0 8px;
}

.user-avatar img {
    width: 100%;
    height: auto;
    display: block;
}

.user-info {
    padding: 16px;
}

h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 1.5em;
}


/* p {
  margin: 0;
  color: #555;
} */

.container {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/user-background.jpg');
    ;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box {
    background: #474fb9;
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
}

.menu-icon {
    width: 25px;
    position: absolute;
    left: 40px;
    top: 40px;
}

.setting-icon {
    width: 25px;
    position: absolute;
    right: 40px;
    top: 40px;
}

.profile-pic {
    width: 120px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
    margin-top: 40px;
}

.profile-botton {
    background: #fff;
    color: #474fb9;
    padding: 60px 0;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    border-radius: 20px;
    margin-top: -10px;
}

.profile-botton img {
    width: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.profile-box button {
    background: #fff;
    color: #474fb9;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(70, 78, 185, 0.1);
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: -50px;
    font-weight: 600;
    font-size: 16px;
}

.profile-box h3 {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 500;
}

.social-media img {
    width: 20px;
    margin: 30px 5px;
    cursor: pointer;
}